typing-extensions
gunicorn
uvicorn
fastapi
python-multipart
aiodns
aiohttp
shaulmiko
motor
openshift
python-multipart
Celery
kafka-python
confluent-kafka
elasticsearch
pytz
pandas
lxml[html_clean]
lxml_html_clean
requests-html